@media only screen and (max-width: 1200px) {
  html,
  body {
    font-size: 14px;
  }

  .about-parrafo {
    margin-bottom: 30px;
  }

  .seccion-titulo {
    margin-top: 100px;
  }
}

@media only screen and (max-width: 1023px) {
  html,
  body {
    font-size: 12px;
  }

  header {
    height: 55vh;
  }

  .header-box {
    position: absolute;
    top: 35%;
    left: 40%;
    text-align: center;
  }

  .header-box-text {
    margin-bottom: 50px;
  }

  h1 {
    font-size: 600%;
  }

  .header-box h2 {
    font-size: 350%;
  }

  .logo {
    height: 100px;
    width: auto;
  }

  .seccion-titulo {
    margin-top: 80px;
    margin-bottom: 30px;
  }

  .about {
    padding: 80px;
  }

  .img-perfil {
    width: 90%;
    border-radius: 10%;
    margin: 0px 20px 0px 0px;
  }

  .servicio-parrafo {
    font-size: 120%;
    font-weight: 500;
  }

  .servicios-pagina img {
    width: 100%;
    margin: 20% 2%;
  }

  .testimonials-titulo {
    margin-bottom: 30px;
    margin-top: 80px;
  }

  cite {
    font-size: 100%;
  }

  cite img {
    height: 25%;
    width: 25%;
  }

  .mapa {
    width: 30vw;
    height: 30vh;
  }

  .frase-final {
    margin-right: 50px;
    margin-top: 20%;
    font-size: 300%;
  }

  footer {
    padding: 30px;
  }

  footer p {
    text-align: center;
    margin-top: 10px;
  }
}

@media only screen and (max-width: 767px) {
  html,
  body {
    font-size: 10px;
  }

  header {
    height: 50vh;
  }

  .sticky-nav .logo {
    height: 50px;
    margin: 10px;
  }

  .logo {
    height: 80px;
    width: auto;
  }

  h1 {
    font-size: 500%;
  }

  .header-box h2 {
    font-size: 300%;
  }

  .btn-fantasma {
    font-size: 100%;
  }

  .seccion-titulo {
    margin-top: 80px;
    margin-bottom: 20px;
  }

  .seccion-subtitulo {
    margin-bottom: 10px;
  }

  .about-parrafo {
    font-size: 110%;
    font-weight: 400;
  }

  .servicio-parrafo {
    font-size: 120%;
    font-weight: 400;
  }

  .img-perfil {
    width: 90%;
    border-radius: 10%;
    margin: 0px 20px 0px 0px;
  }

  cite {
    font-size: 110%;
  }

  cite img {
    height: 30%;
    width: 30%;
  }

  .contacto-icono {
    width: 70%;
  }

  footer {
    font-size: 110%;
  }

  footer p {
    margin-top: 10px;
  }

  .footer-nav {
    margin-left: 0px;
  }

  .social-links {
    margin-right: 0px;
  }
}

@media only screen and (max-width: 480px) {
  .main-nav li a:link,
  .main-nav li a:visited {
    color: transparent;
  }

  .main-nav li:hover,
  .main-nav li:active {
    border-bottom: 2px solid transparent;
  }

  .sticky-nav .main-nav li {
    padding: 0px 5px;
  }

  .sticky-nav .logo {
    height: 40px;
  }

  .button {
    margin: 30px;
    font-size: 110%;
    padding: 13px 10px 13px;
  }

  .seccion-subtitulo::after {
    margin: 20px auto 0px auto;
  }

  .img-perfil {
    margin: 50px 20px 0px 20px;
  }

  .productos-portfolio li {
    width: 50%;
  }

  cite {
    margin-bottom: 30px;
  }

  cite img {
    height: 20%;
    width: 20%;
    margin-right: 10px;
  }

  .columna {
    text-align: center;
  }

  .servicio-columna {
    padding: 5%;
    text-align: justify;
  }

  .servicio-titulo {
    font-size: 200%;
  }

  .servicio-seccion-titulo {
    margin-top: 0%;
  }

  .servicio-parrafo {
    font-size: 180%;
  }

  .servicios-pagina-box {
    text-align: center;
  }

  .servicios-pagina-columna {
    padding: 50px;
  }

  .servicios-pagina img {
    width: 80%;
    margin: 0%;
  }

  .mapa {
    width: 80vw;
  }

  .frase-final {
    margin: 30px;
  }

  .footer-nav,
  .social-links {
    float: none;
    text-align: center;
    margin-bottom: 20px;
  }

  footer p {
    margin-top: 0px;
  }
}
